html {
    background-color: purple;
    font-size: 18px;
    color:chartreuse;
}

body{
    margin: 0 auto;
    margin-top: 0;
}

.header{
    background-color: chartreuse;
    border: 8px solid chartreuse;

}

.main-nav{
    width: 100%;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
   
}

.main-nav__items{
    padding-left: 20px;
    padding-right: 10px;
    list-style: none;
    text-decoration: none;
    color: purple;
}

a{
    text-decoration: none;
    color: purple;
}

a:hover{
    color:rgb(85, 167, 3);
}

.texto{
    width: 70vw;
    margin-left: 18%;
}

