html {
    background-color: rgb(94, 3, 78);
    color: rgb(230, 128, 81);
    font-size: 100%;
}

.link a{
    text-decoration: none;
    color: rgb(94, 3, 78);
}

#ola {
    color:rgb(2, 136, 125);
}

.texto {
    width: 70vw;
    margin-left: 18vw;
}

.link a:hover{
    color: rgb(128, 83, 0);
}
